@model TripShare.ExpenseEdit

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Old expense values</h2>
                <table class="table table-dark table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col">Members Involved</th>
                            <th scope="col">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.Expense.Name</td>
                            <td>@ViewBag.Expense.Amount</td>
                            <td>@ViewBag.Expense.TimeOfExpense</td>
                            <td>@ViewBag.Expense.NamesOfMembersInvolved</td>
                            <td>@ViewBag.Expense.Comment</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <h2>New values</h2>
                <form asp-action="Edit" method="post" id="EditForm">
                    <input type="hidden" asp-for="ExpenseId" value="@ViewBag.Expense.ExpenseId" form="EditForm" />
                    <input type="hidden" asp-for="TableNumber" value="@ViewBag.Expense.TableNumber" form="EditForm" />
                    <table class="table table-dark table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                                <th scope="col">Members Involved</th>
                                <th scope="col">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td>
                                    <select asp-for="Name" form="EditForm">@await Component.InvokeAsync("NameSelection", new { id = (int)ViewBag.Expense.TableNumber })</select>
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </td>
                                <td>
                                    <input asp-for="Amount" form="EditForm" /><br />
                                    <span class="text-danger" asp-validation-for="Amount"></span>
                                </td>
                                <td>
                                    <input type="text" value="@ViewBag.Expense.TimeOfExpense" readonly />
                                </td>
                                <td>
                                    <select asp-for="MembersInvolved" form="EditForm" multiple>@await Component.InvokeAsync("NameSelection", new { id = (int)ViewBag.Expense.TableNumber }) </select>
                                    <br /><span class="text-danger" asp-validation-for="MembersInvolved"></span>
                                </td>
                                <td>
                                    <input asp-for="Comment" form="EditForm" /><br />
                                    <span class="text-danger" asp-validation-for="Comment"></span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-outline-info" type="submit" form="EditForm">Edit expense</button>
                </form>
            </div>
        </div>
    </div>