@{ 
    ViewData["Title"] = "All groups";
}
@model List<TripShare.TableInfo>


    <div class="jumbotron jumbotron-fluid p-5" style="background-color:burlywood; color:white;">
        <div class="container">
            <h3 class="text-justify">
                Below You will find all created groups. 
                Please press the button "Show results" for more information about each specific group.
            </h3>
            @if(Model.Count>1) {
                <h6 class="text-justify">Currently there are @Model.Count groups in the database.</h6>
            }
            else {
                <h6 class="text-justify">Currently there is only @Model.Count group in the database.</h6>
            }

        </div>
    </div>

    <div class="container">
        <div class="row justify-content-around">
            @foreach (var table in Model)
            {
                
                <div class="col-md-3 text-center border border-secondary m-2">
                    <p>Group id: @table.TableInfoId</p>
                    <h4>Name: @table.TableName</h4>
                    <form>
                        <button class="btn btn-dark" asp-controller="Table" asp-action="Info" asp-route-id="@table.TableInfoId">Show results</button>
                    </form>
                </div>
            }
            
        </div>
    </div>



