@{ 
    ViewData["Title"] = "All groups";
}
@model List<TripShare.TableInfo>


    <div class="jumbotron jumbotron-fluid p-5" style="background-color:burlywood; color:white;">
        <div class="container">
            <h3 class="text-justify">
                Below You will find all created groups. 
                Please press the button "Show results" for more information about each specific group.
            </h3>
            @if(Model.Count>1) {
                <h6 class="text-justify">Currently there are @Model.Count groups in the database.</h6>
            }
            else {
                <h6 class="text-justify">Currently there is only @Model.Count group in the database.</h6>
            }

        </div>
    </div>

    <div class="container">
        <div class="row justify-content-around">
            @foreach (var table in Model)
            {
                
            <div class="col-3 border border-secondary rounded m-2 p-2" style="background-color:burlywood">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12"><h4 class="text-center" style="overflow-wrap: break-word"><b>@table.TableName</b></h4></div>
                    </div>
                    <div class="row justify-content-around">
                            <div style="display:inline-block" class="p-1">
                                <button type="submit" class="btn btn-dark"
                                        onclick="location.href='@Url.Action("Info", "Table", new { id = @table.TableInfoId })'">
                                    Show results
                                </button>
                            </div>
                            <div style="display:inline-block" class="p-1">
                                <button type="submit" class="btn btn-dark" value=""
                                        onclick="location.href='@Url.Action("Details", "Expense", new { id = @table.TableInfoId })'">
                                    View details
                                </button>
                            </div>
                    </div>
                </div>
            </div>

            }
            
        </div>
    </div>



