@{ 
    ViewData["Title"] = "Group info";
}

@model WebTripShare.Models.TableViewModel

    <div class="jumbotron jumbotron-fluid p-0" style="background-color:burlywood; color:white;">
        <div class="container">

            <h1 style="text-align:center">@Model.tableInfo.TableName</h1>
            <h3 onclick="GetPersonal('all')" style="cursor:pointer">Group members:</h3>
            
            <table>
                <tr>
                    @foreach (var member in Model.tableInfo.Members)
                    {
                        <td class="pl-3 pr-3 font-weight-bold text-color" onclick="GetPersonal('@member.Name')">
                            <p class="text-color nav-link" style="cursor:pointer">@member.Name</p>
                        </td>
                    }
                </tr>
            </table>

        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2 class="text-center mb-2">Calculation results:</h2>
                @if (Model.TableResults == null)
                {
                    <div id="GroupResults">
                        <p>So far no expense added.</p>
                    </div>
                }
                else
                {
                    <div id="GroupResults">
                        @foreach (var line in Model.TableResults)
                        {
                            <p>@line</p>
                        }
                    </div>
                }
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-dark m-2" value=""
                        onclick="location.href='@Url.Action("Add", "Expense", new { id = Model.tableInfo.TableInfoId })'">
                    Add new expense
                </button>
                <button type="submit" class="btn btn-outline-dark m-2" value=""
                        onclick="location.href='@Url.Action("Details", "Expense", new { id = Model.tableInfo.TableInfoId })'">
                    View details
                </button>
                <button type="submit" class="btn btn-danger float-right" value=""
                        onclick="location.href='@Url.Action("Delete", "Table", new { id = Model.tableInfo.TableInfoId })'">
                    Delete group!
                </button>
            </div>
        </div>

        <script>
            function GetPersonal(name) {
                $.ajax({
                type: "GET",
                url: "../SpecificInfo",
                data: { name: name },
                success: function (response) {

                    //making output
                    var div = document.createElement("div");
                    div.setAttribute("id", "GroupResults");

                    for (var i = 0; i < response.length; i++) {
                        var p = document.createElement("p");
                        p.innerHTML = response[i];
                        div.appendChild(p);
                    }

                    var results = document.getElementById("GroupResults");
                    results.replaceWith(div);
                }
                });
            }

        </script>


    </div>